<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <h1>이 페이지는 현재 준비 중입니다.</h1>
    <p>곧 업데이트 예정입니다.</p>
    
        <!-- 회사 연락처 -->
	<div class="form-group phone-group">
	  <label>회사 연락처<span class="required-star">*</span></label> 
	  <div class="phone-wrap">
	    <input type="text" name="phone1" maxlength="3" placeholder="예: 010" required>
	    <span>-</span>
	    <input type="text" name="phone2" maxlength="4" placeholder="1234" required>
	    <span>-</span>
	    <input type="text" name="phone3" maxlength="4" placeholder="5678" required>
	  </div>
	</div>
</body>
</html>